a{
    text-decoration: none!important;
}
.v-enter{
    transform:translateX(0%);
}
.v-enter-active{
    transition: 0.5s;
}
.v-enter-to{
    transform:translateX(100%);
}
.v-leave{
    transform: translateX(100%);
}
.v-leave-active{
    transition: 0.5s;
}
.v-leave-to{
    transform:translateX(-100%);
}
.router-link-active{
    color:steelblue;
}